/* =============================
Variables globales
============================= */
:root {
    --right-padding: 2rem;
    --gap: 2rem;
    --radius: 15px;
}

/* =============================
    Base du body
============================= */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono';
    font-size: 15px;
    padding-top: 10%;
    gap: 5rem;
}

main {
    background-color: hsl(0, 100%, 100%);
    border-radius: var(--radius);
    padding: 3%;
}

input {
    width: 100%;
    border: none;
    font-family: 'Space Mono';
    font-weight: 700;
    background-color: hsl(189, 47%, 97%);;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
}

input::placeholder {
    text-align: center;
}

label, span {
    display: block;
}

.form-container {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--gap);
    background-color: hsl(0, 100%, 100%);
    color: hsl(186, 14%, 43%);
}

.tip-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3em 3em;
    gap: 1rem;
}

.tip-container input[type="button"] {
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    color: hsl(0, 100%, 100%);
}

.tip-container input[type="text"] {
    background-color: hsl(189, 47%, 97%);
    text-align: right;
    color: hsl(186, 14%, 43%);
}

